<p id="photo-words">
  For four years I worked at the Grinnell College Darkroom, managing it for two. I've worked with Youth In Focus, mentoring at-risk youth in photography and darkroom skills. I've photographed all kinds of people, events, and spaces, and done so as a part of larger web and technology projects.
</p>

<footer id="photography-footer">
  <nav>
    <a href="http://www.flickr.com/pandadumpster" class="photo-link">Flickr</a>
    <a href="http://instagram.com/colinbooks" class="photo-link">Instagram</a>
    <a href="https://www.linkedin.com/in/brooksco" class="photo-link">LinkedIn</a>
    <a href="http://colinbrooks.photography/" class="photo-link">Tumblr</a>
  </nav>
</footer>
