<footer>
  <div class="row">
    <div class="columns"></div>
    <div class="small-12 columns">
      <nav class="footer-links">
        <a href="http://www.flickr.com/pandadumpster">Flickr</a>
        <a href="http://github.com/brooksco">GitHub</a>
        <a href="http://instagram.com/colinbooks">Instagram</a>
        <a href="https://www.linkedin.com/in/brooksco">LinkedIn</a>
        <a href="http://colinbrooks.photography/">Tumblr</a>
        <a href="http://www.twitter.com/colinbooks">Twitter</a>
      </nav>

      <a class="email" href="mailto:hello@colinbrooks.co" target="_top">hello@colinbrooks.co</a>
      <small>© 2017 Colin Brooks</small>
    </div>
  </div>
</footer>