{% set title = "Colin Brooks | About" %}
{% include "partials/head.html" %}

<header id="main-header">
  <div class="row">
    <div class="small-12 columns align-middle">
      <a href="/">
        <h2 id="name-header" class="clean-header">
          <strong>Colin Brooks</strong><span class="page-header scene_element_long scene_element--fadein"> | About</span>
        </h2>
      </a>

      <nav class="header-links">
        <a href="development">Development</a>
        <a href="photography">Photography</a>
      </nav>
    </div>
  </div>
</header>

<nav id="mobile-nav--light">
  <a href="about" class="active">About</a>
  <a href="development">Development</a>
  <a href="photography">Photography</a>
</nav>

<div id="about-section" class="row">

  <div class="small-3 medium-4 columns show-for-medium">
    <div id="meWrapper" class="scene_element_long scene_element--fadein">
      <img src="img/me.jpg" />
      <img id="meTwo" class="show-for-large" src="img/newspaper.jpg" />
      <img id="meThree" class="show-for-large" src="img/seal.jpg" />
    </div>
  </div>

  <div id="about-text" class="small-12 medium-8 columns align-middle scene_element_long scene_element--fadein">
    <div id="smallMeWrapper" class="scene_element_long scene_element--fadein show-for-small-only">
      <img src="img/me.jpg" />
    </div>

    <p>
    Whether it's working with kids or teens, building technology for non-profits or startups, running a bikeshare or a darkroom, interning with the <strong>Whitney Museum of American Art</strong> or <strong>The Museum of Modern Art</strong>, I've tried to bridge the gaps between systems and people. I graduated in 2013 from Grinnell College with a BA in <strong>Computer Science</strong> and a concentration in <strong>Neuroscience</strong>, and from Columbia University in 2016 with an MA in Art and Art Education.
    </p>

    <p>
    Currently I live in New York, working in <strong>Digital Media</strong> at the Whitney Museum of American Art.
    </p>

    <a id="cv" href="colinbrooks_cv.pdf">CV</a>
  </div>

</div>

{% include "partials/footer.html" %}
{% include "partials/tail.html" %}
