{% set title = "Colin Brooks | About" %}
{% include "partials/head.html" %}

<header class="main-header-wrapper">
  <div class="row">
    <div class="small-12 columns main-header">
      <h2 id="name-header" class="clean-header">
       <a href="/">
         <strong>Colin Brooks</strong>
       </a>
       <span class="page-header scene_element_long scene_element--fadein"> | About</span>
     </h2>

     <nav class="main-header__links">
      <a href="development">Development</a>
      <a href="photography">Photography</a>
    </nav>
  </div>
</div>
</header>

<nav class="mobile-nav">
  <a href="about" class="active">About</a>
  <a href="development">Development</a>
  <a href="photography">Photography</a>
</nav>

<div class="row">

  <div class="small-3 medium-4 columns show-for-medium">
    <div class="me scene_element_long scene_element--fadein">
      <img class="me__one" src="img/birthday.jpg" />
      <img class="me__two show-for-large" src="img/me.jpg" />
      <img class="me__three show-for-large" src="img/seal.jpg" />
    </div>
  </div>

  <div id="about-text" class="small-12 medium-8 columns align-middle scene_element_long scene_element--fadein">
    <div class="scene_element_long scene_element--fadein show-for-small-only">
      <img src="img/me.jpg" class="me__small" />
    </div>

    <p>
      Whether it's working with kids or teens, building technology for non-profits or startups, running a bikeshare or a darkroom, interning with the <strong>Whitney Museum of American Art</strong> or <strong>The Museum of Modern Art</strong>, I've tried to humanize the systems I've been a part of. I graduated in 2013 from Grinnell College with a BA in <strong>Computer Science</strong> and a concentration in <strong>Neuroscience</strong>, and from Columbia University in 2017 with an MA in <strong>Art and Art Education</strong>.
    </p>

    <p>
      Currently I live in New York, working in <strong>Digital Media</strong> at the Whitney Museum of American Art.
    </p>

    <div class="btn-wrapper">
      <a class="btn" href="colinbrooks_cv.pdf">CV</a>
      <a class="btn btn--light" href="thesis">THESIS</a>
    </div>
  </div>

</div>

{% include "partials/footer.html" %}
{% include "partials/tail.html" %}
