{% set title = "Colin Brooks | Development" %}
{% include "partials/head.html" %}

<header class="main-header-wrapper">
  <div class="row">
    <div class="small-12 columns main-header">
      <h2 id="name-header" class="clean-header">
        <a href="/">
          <strong>Colin Brooks</strong>
        </a>
        <span class="page-header scene_element_long scene_element--fadein"> | Development</span>
      </h2>

      <nav class="main-header__links">
        <a href="about">About</a>
        <a href="photography" rel="prerender prefetch">Photography</a>
      </nav>
    </div>
  </div>
</header>

<nav class="full-nav">
  <div class="row">
    <div class="small-12 columns">
      <a class="full-nav__name" href="#"><h2>Colin Brooks</h2></a>
      <ul>
        <a href="about">About</a>
        <a href="#" class="active">Development</a>
        <a href="photography">Photography</a>
      </ul>
    </div>
  </div>
</nav>

<nav class="mobile-nav">
  <a href="about">About</a>
  <a href="development" class="active">Development</a>
  <a href="photography">Photography</a>
</nav>

<div id="devDescriptionSection" class="row">

  <div class="small-3 medium-3 columns show-for-medium">
    <div id="codeHeadWrapper" class="scene_element_long scene_element--fadein">
      <img src="img/codehead.png" />
    </div>
  </div>

  <div class="small-12 medium-9 columns">
    <div id="smallCodeHeadWrapper" class="scene_element_long scene_element--fadein show-for-small-only">
      <img src="img/codehead.png" />
    </div>

    <div id="devDescription" class="two-col scene_element_long scene_element--fadein">
      <p>As a <strong>computer scientist</strong>, I’m interested in the process of problem solving. As an <strong>artist</strong>, I’m drawn to the web for its blend of interactivity and accessibility. As both, I'm passionate about utilizing technology to connect  art with a global audience.</p>

      <p>I graduated in 2013 from <strong>Grinnell College</strong> with a BA in Computer Science and a concentration in <strong>Neuroscience</strong>. I spent a year working as a freelance creative in <strong>Seattle</strong> and <strong>New Zealand</strong>, before joining a youth sports tech startup as a software developer.</p>

      <p>Since moving to NYC I've interned with <strong>The Museum of Modern Art</strong>, working on a data analytics and ingestion project, and continued to freelance when time permits. I received my MA in Art and Art Education from <strong>Columbia University</strong> in 2017, and currently work in Digital Media at the <strong>Whitney Museum of American Art</strong>.</p>
    </div>

  </div>

</div>

<div class="row">
  <div class="small-12 columns">
    <h2 class="clean-header dev-header">Recent Bits</h2>
  </div>
</div>

<!-- Recent work -->
<div id="recent" class="row dev-section">

  <div class="recent-section small-12 medium-4 columns">
    <a href="https://howmanyhoppers.com">
      <div class="recent-section_image-wrapper">
        <img src="img/howmanyhoppers.png" />
      </div>
      <h5><em>How Many Hoppers? (2017) - Web</em></h5>
    </a>
    <p>An up to date count of the number of works by Edward Hopper currently on display at the Whitney Museum of American Art.</p>
  </div>

  <div class="recent-section small-12 medium-4 columns">
    <a href="http://colinbrooks.co/police/">
      <div class="recent-section_image-wrapper">
        <img src="img/police_800.jpg" />
      </div>
      <h5><em>1/1/2015 — 10/5/2016 (2016) - Web/P5</em></h5>
    </a>
    <p>An animated mapping exploration of the Washington Post's <a href="https://github.com/washingtonpost/data-police-shootings">fatal police shooting dataset</a>. Locations are geocoded through the Google Maps API, and build up a familiar image of the United States.</p>
  </div>

  <div class="recent-section small-12 medium-4 columns">
    <a href="https://medium.com/digital-moma/hey-could-you-give-me-the-numbers-on-that-again-2dd7e8060d83#.rfnqrujt1">
      <div class="recent-section_image-wrapper">
        <img src="img/datadashboardscreens_800.jpg" />
      </div>
      <h5><em>“Hey could you give me the numbers on that again?” (2016) - Blog</em></h5>
    </a>
    <p>Blog post on Digital @ MoMA about my time with The Museum of Modern Art (MoMA), working on a data analytics, data collection, and dashboard creation project.</p>
  </div>

  <div class="recent-section small-12 medium-4 columns">
    <div class="recent-section_image-wrapper">
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/165664569" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <h5><em>Neuron (2016) - Mixed Media</em></h5>
    <p>Mixed media enlargment of an imagined neuron, incorporating generative audio and video, projection mapping with Kinect and OpenCV, chicken wire, stainless steel, and acrylic.</p>
  </div>

  <div class="recent-section small-12 medium-4 columns">
    <a href="http://recursion.colin.science">
      <div class="recent-section_image-wrapper">
        <img src="img/recursion_800.png" />
      </div>
      <h5><em>Recursion lesson & survey (2016) - Web/Firebase/Canvas</em></h5>
    </a>
    <p>An experiment in teaching about the concept of recursion to new audiences using an animated Sierpinski triangle.</p>
  </div>

  <div class="recent-section small-12 medium-4 columns">
    <div class="recent-section_image-wrapper">
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/154781438" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <h5><em>Spheres II (2016) - openFrameworks</em></h5>
    <p>Continued exploration of deconstructing spheres, limited color, galaxy-inspired movements and shapes, and generative growth.</p>
  </div>

  <div class="recent-section small-12 medium-4 columns">
    <a href="https://github.com/whitneyteens/whitneyteens.github.io">
      <div class="recent-section_image-wrapper">
        <img src="img/whitneyteens_citizenfour_2.png" />
      </div>
      <h5><em>Whitney Teens Open Studio sign in (2016) - Web/Firebase/Google Drive</em></h5>
    </a>
    <p>A smarter sign in form for Whitney Museum teen events. Parses acronyms and commonly mis-entered information, aggregates data, and pushes it to a central Google Sheet.</p>
  </div>

  <div class="recent-section small-12 medium-4 columns">
    <div class="recent-section_image-wrapper">
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/136783675" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <h5><em>Deconstructing Shells II (2015) - Processing</em></h5>
    <p>Early exploration of deconstructing spheres, galaxy-inspired movements and shapes, and generative growth.</p>
  </div>

  <div class="recent-section small-12 medium-4 columns">
    <a href="http://artdev.colinbrooks.co">
     <div class="recent-section_image-wrapper">
      <video id="artdev-video" class="dev-video" muted loop playsinline>
        <source src="video/artdev_15.mp4" type="video/mp4" />
        <source src="video/artdev_15.webm" type="video/webm" />
        Sorry, your browser doesn't support HTML5 video.
      </video>
    </div>
    <h5><em>Artistic development web project - P5</em></h5>
  </a>
  <p>Essay on artistic development presented alongside an animation of children developing the discussed skills.</p>
</div>

<div class="recent-section small-12 medium-4 columns">
 <div class="recent-section_image-wrapper">
  <!-- <img src="img/finger_frame.jpg"> -->
  <div class="embed-container">
    <iframe src="https://player.vimeo.com/video/153728105" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<h5><em>Fingers (2015) - Processing</em></h5>
<p>An experiment in translating a piece of the human form into digital code.</p>
</div>

</div>
<!-- End recent work -->

<div class="row">
  <div class="small-12 columns">
    <h2 id="waypoint" class="clean-header dev-header">Past Projects</h2>
  </div>
</div>

<div id="rays" class="row dev-section project-section">
  <div class="small-12 medium-12 columns">

    <div class="color-bar">

      <div class="project-image-wrapper">
        <a href="img/projects/project-rays-home.jpg" data-fancybox="rays" data-caption="Photos relevant to RAYS now feature prominantly on the home page to help build more emotional connections with visitors.">
          <img src="img/projects/project-rays-home.jpg" class="project-image">
        </a>
        <a href="img/projects/project-rays-kayak.jpg" data-fancybox="rays" data-caption="I photographed RAYS events to fill in documentation gaps, and give them (and me) more high-quality images to work with.">
          <img src="img/projects/project-rays-kayak.jpg" class="project-image">
        </a>
        <a href="img/projects/project-rays-sparkpage.jpg" data-fancybox="rays" data-caption="A major goal for the project was to balance having more information available, with keeping it from being overwhelming. Expandable sections were one solution, and pull quotes another.">
          <img src="img/projects/project-rays-sparkpage.jpg" class="project-image">
        </a>
        <a href="img/projects/project-rays-headshots.jpg" data-fancybox="rays" data-caption="On the old site there were no staff photos or bios, so I took new headshots on location for those who needed them.">
          <img src="img/projects/project-rays-headshots.jpg" class="project-image">
        </a>
      </div>

      <a href="http://rays.org/"><h3>Renton Area Youth & Family Services</h3></a>
      <h4 class="clean-mini">Web Designer, Developer, Interviewer, & Photographer</h4>

    </div>

    <div class="two-col">
      <p>The old Renton Area Youth & Family Services (RAYS) website didn't have a lot of appeal, and lacked truly descriptive content about their services. For an organization that does a significant portion of its work from referrals and relies on individual donors, this was less than ideal.</p>

      <p>I worked with RAYS staff to build a website filled with more descriptions and more stories of the work they do, and the people they serve. Building better emotional connections with visitors to their website allows them to generate more donations, and become better known within the community. I interviewed staff, collected and wrote stories of clients, dug through grant applications, and took photos at events, of staff, and around their offices. Using the newly collected and generated content, I designed and built a new website backed by WordPress that's far easier for staff to work with, so it can be updated more regularly by more people.</p>

    </div>
  </div>
</div>

<div id="hsuan" class="row dev-section project-section">
  <div class="small-12 medium-12 columns">

    <div class="color-bar">

      <div class="project-image-wrapper">
        <a href="img/projects/project-hsuan-home.jpg" data-fancybox="hsuan" data-caption="A clean masonry layout dominates the homepage, with easy categorical sorting available on the sidebar.">
          <img src="img/projects/project-hsuan-home.jpg" class="project-image">
        </a>
        <a href="img/projects/project-hsuan-mobile.jpg" data-fancybox="hsuan" data-caption="Making the site fully responsive for all screen sizes was espescially important for this project.">
          <img src="img/projects/project-hsuan-mobile.jpg" class="project-image">
        </a>
        <a href="img/projects/project-hsuan-social.jpg" data-fancybox="hsuan" data-caption="An example project in Hsuan's portfolio (which is great and you should check it out!).">
          <img src="img/projects/project-hsuan-social.jpg" class="project-image">
        </a>
        <a href="img/projects/project-hsuan-moma.jpg" data-fancybox="hsuan" data-caption="Another example project in Hsuan's portfolio, scrolled partly down the page.">
          <img src="img/projects/project-hsuan-moma.jpg" class="project-image">
        </a>
      </div>

      <a href="http://www.hsuan.ch/"><h3>Hsuan.ch</h3></a>
      <h4 class="clean-mini">Web Developer</h4>

    </div>

    <div class="two-col">
      <p>Hsuan came to me knowing she needed a new portfolio website. A web designer herself, she already had a design mockup but needed a developer to build a WordPress theme around it. Particularly important for the new website was that it would be fully responsive, and Hsuan left the details of the mobile implementation up to me with a few ideas to work from.</p>

      <p>The final website is very close but not exactly the same as the initial designs. As we communicated back and forth while I constructed the site, we discovered some changes we could make that would lead to a more functional (but equally asthetically pleasing) web experience.</p>
    </div>
  </div>
</div>

<div id="pointwhite" class="row dev-section project-section">
  <div class="small-12 medium-12 columns">

    <div class="color-bar">

      <div class="project-image-wrapper">
        <a href="img/projects/project-pw-home.jpg" data-fancybox="pw" data-caption="A two-paned design enables simple, clean navigation, and allows for large prominent images without scrolling.">
          <img src="img/projects/project-pw-home.jpg" class="project-image">
        </a>
        <a href="img/projects/project-pw-exterior.jpg" data-fancybox="pw" data-caption="I carefully photographed the guest house inside and out, so as to best promote the space. This included climbing a nearby tree, and using that top step of the ladder you're not supposed to.">
          <img src="img/projects/project-pw-exterior.jpg" class="project-image">
        </a>
        <a href="img/projects/project-pw-quadtych.jpg" data-fancybox="pw" data-caption="While photographing the cottage, I tried to get across a sense of the friendly nature of the place, and the beautiful environment just outside the door.">
          <img src="img/projects/project-pw-quadtych.jpg" class="project-image">
        </a>
        <a href="img/projects/project-pw-mobile.jpg" data-fancybox="pw" data-caption="As with past projects, making the site mobile-friendly was a must. This included particular attention to making sure images loaded as fast as possible.">
          <img src="img/projects/project-pw-mobile.jpg" class="project-image">
        </a>
      </div>

      <a href="http://pointwhiteguesthouse.com/"><h3>Point White Guest House</h3></a>
      <h4 class="clean-mini">Web Designer, Developer, & Photographer</h4>

    </div>

    <div class="two-col">
      <p>What do you do with a guest house? Rent it out. To this end, the owners of this particular guest house on Bainbridge Island wanted a website which would allow them to promote their property, and offer an convenient solution for online booking and payment. The site needed to be aesthetically and organizationally inline with the idea of a modern island cottage, while emphasizing its idyllic setting.</p>

      <p>Part of the project included photographing the interior and exterior of the guest house. Good imagery was identified as extremely important to attracting new guests, and I spent time carefully documenting the space and editing photos. The site is built on WordPress so it's easy for the owners to add new content as they see fit.</p>
    </div>
  </div>
</div>

<div id="fundersen" class="row dev-section project-section">
  <div class="small-12 medium-12 columns">

    <div class="color-bar">

      <div class="project-image-wrapper">
        <a href="img/projects/fundersen-photo.jpg" data-fancybox="fundersen" data-caption="Simple, clean, and horizontally scrolling to show off his best work multiple images at a time.">
          <img src="img/projects/fundersen-photo.jpg" class="project-image">
        </a>
        <a href="img/projects/fundersen-video.jpg" data-fancybox="fundersen" data-caption="Quinn's video projects vary in what has been (and can be) posted online, so each project is displayed as a chunk of whatever relevant media is publically available.">
          <img src="img/projects/fundersen-video.jpg" class="project-image">
        </a>
        <a href="img/projects/fundersen-mobile.jpg" data-fancybox="fundersen" data-caption="Being mobile friendly is vital in an industry where you might have at best a few seconds to make an impression as they check their phone between coffees.">
          <img src="img/projects/fundersen-mobile.jpg" class="project-image">
        </a>
        <a href="img/projects/fundersen-contact.jpg" data-fancybox="fundersen" data-caption="The ultimate goal of the portfolio is to draw in new contacts, so a contact form is front and center on the site.">
          <img src="img/projects/fundersen-contact.jpg" class="project-image">
        </a>
      </div>

      <h3>Fundersen</h3>
      <h4 class="clean-mini">Web Designer & Developer</h4>

    </div>

    <div class="two-col">
      <p>Portfolio sites can be an odd blend of needing to be familiar and easy to process, while at the same time standing out just enough to be remembered. Content really is key, and the design needs to reflect that. For Quinn's portfolio I worked with him to find a clean style that reflected how he wanted to be seen, and was flexible enough to accommodate new and different types of work in the future.</p>
    </div>
  </div>
</div>

<div class="row dev-section">
  <div class="small-12 columns">
    <h2 class="clean-header dev-header">Technical Skills</h2>

    <ul id="skill-list" class="four-col">
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript &amp; jQuery</li>
      <li>SASS/SCSS &amp; LESS</li>
      <li>PHP &amp; WordPress</li>
      <li>Ruby &amp; Rails</li>
      <li>mySQL</li>
      <li>Java</li>
      <li>C</li>
      <li>C++</li>
      <li>Swift/iOS</li>
      <li>Git &amp; GitHub</li>
      <li>Lisp</li>
      <li>Hybrid Apps/Phonegap</li>
      <li>Processing/P5/openFrameworks</li>
    </ul>
  </div>
</div>

{% include "partials/footer.html" %}
{% include "partials/tail.html" %}
