{% set title = "Colin Brooks" %}
{% set bodyClass = "black" %}
{% include "partials/head.html" %}

<div id="main-holder" class="row">

  <a id="main-left" href="development" class="main-box small-12 medium-expand columns align-middle">
    <div class="text-holder">
      <h1 class="align-middle">Developer</h1>
    </div>

    <video id="main-left-video" class="video" muted loop>
      <source src="video/spheres-3.mp4" type="video/mp4" />
      <source src="video/spheres-3.webm" type="video/webm" />
      Sorry, your browser doesn't support HTML5 video.
    </video>
  </a>

  <a id="main-right" href="photography" class="main-box small-12 medium-expand columns align-middle" rel="prerender prefetch">
    <div class="text-holder">
      <h1>Photographer</h1>
    </div>

    <video id="main-right-video" class="video" muted loop>
      <source src="video/rainier-trails.mp4" type="video/mp4" />
      <source src="video/rainier-trails.webm" type="video/webm" /> 
      Sorry, your browser doesn't support HTML5 video.
    </video>
  </a>

</div>

{% include "partials/tail.html" %}
